html, body {
	color: #ddd;
	background: #222;
	margin: 0;
	padding: 10px;
}

img, canvas {
	box-shadow: 0px 3px 5px black;
}

#lutsrc {
	display: none;
}

#palette_picker {
	float: left;
	font-size:18px;
}

#palette_picker img {
	cursor: pointer;
	max-height: 50px;
	max-width: 300px;
}

#lut_output {
	float: right;
}

#stdout {
	clear: all;
	background: #111;
	color: #2d2;
}
